*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --w:25rem;
}
textarea{
    height: 120px;
    resize: none;
}
.contact-cover{
    text-align: center;
    padding: 50px;
    position: relative;
}

.contact-cover::before{
    content: "";
    background: url("../../public/images/back.png") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact-form{
    background-color:#fff;
    width: 38rem;
    height: 34rem;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgb(37, 34, 34);
    padding: 20px;
}

.pos{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.space1{
    margin-right: 20px;
    font-size: 0.8rem;
    align-self: center;
}

.pos>input , .pos>textarea, .pos>select{
    width: var(--w);
    background-color: rgb(242, 242, 254);
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}
.pos>textarea{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pos>input {
    height: 35px;
}
.pos>select{
    height: 35px;
    color: #717171;
}

.love{
    align-self: flex-start;
}
#country{
    margin-bottom: 20px;
}

.btnn{
    padding: 5px;
    display: flex;
    justify-content: end;
}

.btnn button{
    border: none;
    background-color: #3778f1;
    border-radius: 4px;
    padding: 8px 20px;
    color: #fff;
    font-size:1rem;
    font-family:monospace;
    cursor: pointer;
}

.btnn button:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.side-side{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
}

.segment{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.segment>p{
    color: rgb(238, 238, 238);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.segment i{
    padding: 0 12px 0 12px;
    margin-top:30px ;
    color: #fff;
}

.segment h1{
    color: #fff;
    font-family:monospace
}

#s{
    color: #717171;
}

.contact-cover>h2{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact-cover>p{
    color: #717171;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 960px){
    .side-side{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        align-items: center;
    }
}

@media screen and (max-width: 642px){
    .contact-form{
        background-color:#fff;
        width: 30rem;
        height: 34rem;
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgb(37, 34, 34);
        padding: 20px;
    }
    
    .pos>input , .pos>textarea, .pos>select{
        width: 20rem ;
    }
    .segment>p{
       font-size:18px;
    }
    
    .segment h1{
        font-size: 20px;
    }

}

@media screen and (max-width:512px){
    .contact-form{
        width: 25rem;
    }
    
    .pos>input , .pos>textarea, .pos>select{
        width: 15rem ;
    }
}

@media screen and (max-width:417px){
    .contact-form{
        width: 20rem;
    }
    
    .pos>input , .pos>textarea, .pos>select{
        width: 10rem ;
    }
}
@media screen and (max-width:345px){
    .contact-form{
        width: 19rem;
    }
    
    .pos>input , .pos>textarea, .pos>select{
        width: 9rem ;
    }
}