.cont-link{
    text-decoration: none;
    color:#242424;
    padding:15px 5px; 
}
 .foot-link{
    padding: 15px 5px;
    color:#242424;
}
.cont-link:hover{
    color: aliceblue;
}
.site-links{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    padding-top: 25px;
    color: rgb(57, 48, 69);
}

.outer-footer{
    background:linear-gradient(90deg,rgb(0, 238, 255),rgb(138, 254, 14));
}

.website-rights{
    color: #242424;
    text-align: center;
    /* margin: 16px; */
    padding: 16px;
}

.site-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:80px;
    height: 80px;
    margin: 20px;
}

.git{
    width:120px;
    height: 80px;
}
.mongo{
    width:150px;
    height: 80px;
}
.node{
    width:80px;
    height: 50px;
}


@media screen and (max-width:960px){
    img{
        width:40px;
        height: 40px;
        margin:12px;
    }
    
    .git{
        width:60px;
        height: 30px;
    }
    .mongo{
        width:80px;
        height: 30px;
    }
}

@media screen and (max-width:660px){
    img{
        width:30px;
        height: 30px;
        margin: 20px;
    }
    
    .git{
        width:70px;
        height: 30px;
    }
    .mongo{
        width:100px;
        height: 30px;
    }
    .node{
        width:80px;
        height: 50px;
    }
}

@media screen and (max-width:620px){
    img{
        width:50px;
        height: 50px;
        margin: 20px;
    }
    
    .git{
        width:90px;
        height: 50px;
    }
    .mongo{
        width:120px;
        height: 50px;
    }
    .site-logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}